<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Clasificación 20/21</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/home" routerDirection="root">Volver</ion-button>
</ion-header>

<ion-content>
  <ion-grid> <ion-row> 
    <ion-col> PUESTO </ion-col> 
    <ion-col> EQUIPO </ion-col> 
    <ion-col> PUNTOS </ion-col> 
    <ion-col> GOLES A FAVOR </ion-col> 
    <ion-col> GOLES EN CONTRA </ion-col> 
  </ion-row> </ion-grid>
  <ion-grid>
    <ion-col>
      1º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      2º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      3º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      4º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      5º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      6º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      7º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      8º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      9º
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-col>
      10º
    </ion-col>
  </ion-grid>

</ion-content>
 
 
 
  <ion-footer> 
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
  
          <ion-tab-button >
            <ion-icon name="arrow-back-outline"></ion-icon>
                      <ion-label>ANTERIOR</ion-label>
          </ion-tab-button>
  
          <ion-tab-button>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <ion-label>SIGUIENTE</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

