<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="map" routerLink="/jornada" routerDirection="root">
          <ion-icon name="football-outline"></ion-icon>
          <ion-label>JORNADA</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about" routerLink="/clasificacion" routerDirection="root">
          <ion-icon name="trophy-outline"></ion-icon>
          <ion-label>CLASIFICACION</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card-header class="ion-text-center"> JORNADA {{jornada[contador]}}</ion-card-header>
  <ion-card *ngFor="let partido of bloqueUno;let indice=index" class="ion-text-center"> 
    <ion-card-header>
    {{bloqueUno[indice]}} vs {{bloqueDos[indice]}}
    </ion-card-header>
    <ion-card-content class="ion-text-center">
    //aqui van los goles
  </ion-card-content>
    </ion-card>
   
</ion-content>
<ion-footer> 
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="anterior()" disabled={{this.disabledAnterior}}>
          <ion-icon name="arrow-back-outline"></ion-icon>
                    <ion-label>ANTERIOR</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="siguiente()"  disabled={{this.disabledSiguiente}}>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          <ion-label>SIGUIENTE</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>